/*.clients {
	font-family: 'Didot', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	width: 100%;
	height: 580px;
	position: absolute;
	top: 70px;
	padding-top: 20px;
	/*background: whitesmoke;*/
}

/*.clients img {
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	height: 200px;
	width: auto;
	padding: 5px;
	/*border: 1px dashed lightgrey;*/
	background: white;
}

/*.ff {
	position: absolute;
	top: 50px;
	left: 100px;
}
.nike {
	position: absolute;
	top: 300px;
	left: 100px;
}

.fortytwo {
	position: absolute;
	top: 50px;
	left: 450px;
}

.diesel {
	position: absolute;
	top: 300px;
	left: 800px;
}

.marriott {
	position: absolute;
	top: 50px;
	left: 800px;
}*/


body {
	background: white;
}


.campaigns {
	font-family: 'Didot', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	width: 100%;
	height: 1000px;
	border-top: 1px solid tomato;
	position: absolute;
	top: 150px;
	/*padding-left: 100px;*/
	/*padding-top: 50px;*/
}


.campaigns h1{
	font-size: 24px;
	position: absolute;
	top: -50px;
	left: 100px;
	margin-left: 0px;
}

.campaigns .case {
	min-height: 450px;
	border-bottom: 1px solid #A8A8A8;
	padding-left: 100px;
	padding-bottom: 70px;
	padding-top: 100px;
	background-color: lightgrey;
	opacity: 0.3;
}

.case:hover {
	background-color: white;
	opacity: 1;
	-webkit-transition: opacity 1s, background-color 1s;
}

.campaigns .case .caseText {
	min-width: 350px;
	width: 40%;
	float: left;
	padding-right: 8%;
}

.campaigns .case .visual {

	width: 40%;
	float: left;
	margin-top: -30px;
}


/*******************TABLET**********************/


.ScontainT .campaigns {
	font-family: 'Didot', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	width: 100%;
	height: 1000px;
	border-top: 1px solid tomato;
	position: absolute;
	top: 150px;
	padding-top: 50px;
}

.ScontainT .campaigns h1{
	font-size: 24px;
	position: absolute;
	top: -50px;
	left: 100px;
	margin-left: 0px;
}

.ScontainT .campaigns .case {
	min-height: 750px;
	border-bottom: 1px solid lightgrey;
	padding-left: 100px;
	padding-bottom: 50px;
}

.ScontainT .campaigns .case .caseText {
	min-width: 350px;
	width: 80%;
	padding-right: 8%;
}

/*.ScontainT .campaigns .case .visual {
	margin-left: -30px;
	width: 40%;
	margin-top: 50px;
}*/

.ScontainT .case .visual {

	margin: auto;
	margin-top: 60px;

}

/*******************TABLET**********************/


.ScontainM .campaigns {
	font-family: 'Didot', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	width: 100%;
	height: 1000px;
	border-top: 1px solid tomato;
	position: absolute;
	top: 85px;
}

.ScontainM .campaigns h1{
	font-size: 24px;
	position: absolute;
	top: -40px;
	left: -4px;
	margin-left: 0px;
}

.ScontainM .campaigns .case {
	min-height: 750px;
	border-bottom: 1px solid lightgrey;
	padding-left: 20px;
	padding-bottom: 50px;
	padding-top: 50px;
	width: 290px;
	background: white;
	opacity: 1;
}

.ScontainM .campaigns .case .caseText {
	min-width: 290px;
	padding-right: 8%;
}

/*.ScontainT .campaigns .case .visual {
	margin-left: -30px;
	width: 40%;
	margin-top: 50px;
}*/

.ScontainM .case .visual {

	margin: auto;
	margin-top: 60px;

}

.ScontainM .case .visual img{

	width:280px;
	height: auto;

}
