.Scontainer .logo {
	width: 200px;
	height: 44px;
	background-image: url(img/proLogo2.png);
	background-size: 200px 44px;
	position: absolute;
	top: 36px;
	left: 50px;
	z-index: 2;
}


.Scontainer .mainText {
	top: 120px;
	width: 800px;
	position: absolute;
	margin-left: 50%;
	left: -400px;
}

.Scontainer .bodyText {
	font-size: 21px;
	text-align: center;
}

.Scontainer h1 {
	font-size: 52px;
	margin-left: -70px;
	color: #fc3104;
	padding-bottom: 50px;
	text-align: left;
}


/****************TABLET****************/


.ScontainT .logo {
	width: 100px;
	height: 22px;
	background-image: url(img/proLogo2.png);
	background-size: 100px 22px;
	background-position: 8px 8px;
	position: absolute;
	top: 67px;
	left: 40px;
	z-index: 2;
	border: 1px solid lightgrey;
	/*-ms-transform: rotate(90deg); /* IE 9 */
    /*-webkit-transform: rotate(90deg);*/ /* Chrome, Safari, Opera */
   /* transform: rotate(90deg);*/
   padding:8px;
  
   background-repeat: no-repeat;
}


.ScontainT .mainText {
	position: absolute;
	max-width: 500px;
	left: 100px;
	top: 120px;
	margin-left: 50%;
	left: -250px;
}

.ScontainT .bodyText {
	font-size: 20px !important;
	text-align: center;
}

.ScontainT h1 {
	font-size: 44px;
	color: #fc3104;
}

.ScontainT .topNav ul li,
.containT .topNav ul li {
	display: inline;
	margin-right: 30px;
	text-align: center;
}

/****************MOBILE****************/

.ScontainM .topNav {}



.ScontainM .logo {
	width: 100px;
	height: 22px;
	background-image: url(img/proLogo2.png);
	background-size: 100px 22px;
	position: absolute;
	top: 106px;
	left: 30px;
	z-index: 2;
}

.ScontainM .mainText {
	font-family: 'Didot', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	position: absolute;
	width: 280px;
	margin-left: 50%;
	left: -140px;
	top: 120px;
	font-weight: bold;
	height: auto;
	font-size: 14px!important;
}

.ScontainM h1 {
	font-size: 24px;
	color: #fc3104;
}

.ScontainM .bodyText {
	font-size: 14px !important;
	text-align: center;
}

.ScontainM .topNav {
	background-color: lightgrey;
	height: 37px;
}


.ScontainM .topNav .bar{
	position: absolute;
	height: 20px;
	width: 20px;
	right: 20px;
	top: 8px;
	background-image: url(img/3-bar.png);
	background-size: 20px 20px;
}

.ScontainM .topNav .bar:hover {
	background-image: url(img/3-barp.png);
	background-size: 20px 20px;
}

.ScontainM .topNav .menu{
	display: none;
	background-color: lightgrey;
	position: absolute;
	left: -30px;
	height: 185px;
	width: 100%;
	text-decoration: none;
	top: 10px;
	font-size: 24px;
	text-align: left;
	margin-left: 10px;	
	z-index: 3;
}



.ScontainM .topNav ul a{

	color: black;
	width: 100%;
	height: 40px !important;
	margin-right: 300px;
}

.ScontainM .topNav ul li{

	color: black;
	width: 100%;
	height: 40px !important;
	margin-bottom: 40px;
}
.ScontainM .topNav li:hover,
.ScontainM .topNav a:hover{

	color: white;
	
}
